<div style=" padding :20px 100px 10px 100px; ">
    <div class="container">
    <div class="row">
      <div class="col-sm-4">
   
    
    <div class="card mr-2 d-inline-block shadow-lg" style="width:250px">
      <img class="card-img-top" src="https://image.shutterstock.com/image-photo/headshot-portrait-happy-ginger-girl-600w-623804987.jpg" alt=" image" style="width:100%">
      <h2 style="text-align: center;">Shalini Porika</h2>
      <div class="card-body">
   
        <p class="card-text">Some example text some example text. John Doe is an architect and engineer
        Some example text some example text. John Doe is an architect and engineer
      </p>
       
      </div>
    </div>
  </div>  
  <div class="col-sm-4" >
   
   
    <div class="card mr-2 d-inline-block shadow-lg" style="width:250px">
      <img class="card-img-top" src="https://image.shutterstock.com/image-photo/closeup-portrait-laughing-brunette-girl-600w-1082155934.jpg" alt=" image" style="width:100%">
      <h2 style="text-align: center;">Sai Soumya</h2>
      <div class="card-body" >
         
        <p class="card-text">Some example text some example text. John Doe is an architect and engineer
        Some example text some example text. John Doe is an architect and engineer
      </p>
       
      </div>
    </div>
  </div>  
  <div class="col-sm-4">
    
    
    <div class="card mr-2 d-inline-block shadow-lg" style="width:250px">
      <img class="card-img-top" src="https://image.shutterstock.com/image-photo/gorgeous-shorthaired-girl-sunglasses-dancing-600w-750408166.jpg" alt=" image" style="width:100%">
      <h2 style="text-align: center;">Supriya</h2>
      <div class="card-body">
        
        <p class="card-text">Some example text some example text. John Doe is an architect and engineer
        Some example text some example text. John Doe is an architect and engineer
      </p>
       
      </div>
    </div>
  </div>  
  </div>
  </div>
  </div>
